// Operaciones

$medida-1: 100px;
$medida-2: 50px;

// Mapas
$redes: (
twitter: #168ad7,
facebook: #07194a,
instagram: #ca16d7,
);

@each $red, $color in $redes {
    .red-#{$red} {
        color: $color;
    }
}




// Extend

h1 {
    color: rgb(255, 255, 255);
    font-size: 150px;
    font-family: 'Nunito Sans', sans-serif;
}

.h1-artista {
    @extend h1 ;

    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif !important;
}

h1 span {
    @extend h1 ;
    
    color: #29b91c;
    font-size: 150px;
    font-family: 'Nunito Sans', sans-serif;
}


// Mixins

@mixin header {
    height: 500px;
    border-radius: 40px;
    margin: 0px 40px 30px 40px;
    max-width: 100%;
    color: rgb(255, 255, 255);
}

.header-or {
    @include header;
}

.header-jd {
    @include header;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;

}





.navbar {
    background-color: black !important;

    width: max-content !important;
    width: 100% !important;

    position: sticky !important;
    top: 0px;
  

    .nav-link {
        color: white;
        text-transform: uppercase !important;
        width: max-content !important;

       } 

       .active {
        color: white !important;

       } 

       .d-flex {
        color: white;
       }

.disabled {
    color: white !important;
}

.navbar-toggler {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(70, 70, 70) !important;
    margin: 0 20px 0 300px;
}


.me-auto {

        margin-right: 10%!important;
        margin-left: 800px !important;
    
}

}

h1 {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 150px;
    font-family: 'Nunito Sans', sans-serif;
    
h1 span {
    background-color: black;
    color: #29b91c;
    font-size: 150px;
    font-family: 'Nunito Sans', sans-serif;
}

}

h2 {
    background-color: black;
    color: rgb(255, 255, 255);
    background-size:auto;
    background-repeat: no-repeat;
    padding: auto;
    margin: 0px 10px 10px 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    border-radius: 5px; 
    display: inline-block;
}

h3 {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;
    
}

ul {
    list-style-type: none;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
        
}

.collapse {
    justify-content: flex-end !important;
    margin-right: 10% !important;
}

.img-jd {
    height: auto;
    width: auto;
    max-width: $medida-1*5 !important;
    max-height: $medida-1*5 !important;
}

.img-or {
    height: auto;
    width: auto;
    max-width: $medida-1*5 !important;
    max-height: $medida-1*5 !important;
}

.img-wo {
    height: auto;
    width: auto;
    max-width: $medida-1*5 !important;
    max-height: $medida-1*5 !important;
}

.img-bb {
    height: auto;
    width: auto;
    max-width: $medida-1*5 !important;
    max-height: $medida-1*5 !important;
}

.img-fviol {
    height: auto;
    width: auto;
    max-width: $medida-1*2 !important;
    max-height: $medida-1*2 !important;
}

.img-fnj {
    height: auto;
    width: auto;
    max-width: $medida-1*2 !important;
    max-height: $medida-1*2 !important;
}

.img-fcel {
    height: auto;
    width: auto;
    max-width: $medida-1*2 !important;
    max-height: $medida-1*2 !important;
}

.img-fverd {
    height: auto;
    width: auto;
    max-width: $medida-1*2 !important;
    max-height: $medida-1*2 !important;
}








body {
    background-color: black;
}


.header {
    height: 160px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


.d-block {

    max-width: 90% !important;

}










/* ---------- MEDIA QUERIES --------- */

@media screen and (max-width: 768px) {

    .navbar-toggler {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(70, 70, 70) !important;
        margin: 0 20px 0 30px;
    }

    img {
        margin-left: 2px !important;
        max-width: 200px;
    }

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 40px;
    }

    h1 span {
        font-size: 80px;
        }

        .navbar-nav {
            margin: 10px !important;
        }



}
@media screen and (max-width: 425px) {


    img {
        margin-left: 2px !important;
        max-width: 150px !important;
    }
    .navbar-nav {
        margin: 10px !important;
    }

}