
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;

}

.red-twitter {
    color: #168ad7; }
  
  .red-facebook {
    color: #07194a; }
  
  .red-instagram {
    color: #ca16d7; }
  

.redes {
    margin: 80px;
    padding: 20px;
    justify-content: space-around;
    font-size: 40px !important;

  }


.navbar {
    background-color: black !important;

    width: max-content !important;
    width: 100% !important;

    position: sticky !important;
    top: 0px;
   }

    .nav-link {
        color: white;
        text-transform: uppercase !important;
        width: max-content !important;

       } 

       .active {
        color: white !important;

       } 

       .d-flex {
        color: white;
       }

.disabled {
    color: white !important;
}

.navbar-toggler {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(70, 70, 70) !important;
    margin: 0 20px 0 300px;
}


.me-auto {

        margin-right: 10%!important;
        margin-left: 800px !important;
    
}

.collapse {

    color: white !important;
}


/* ESTILOS ARTISTAS */


.header-or {
    height: 500px;
    border-radius: 40px;
    margin: 0px 40px 30px 40px;
    max-width: 100%;
    color: rgb(255, 255, 255);
    background-image: url(https://www.tvinsider.com/wp-content/uploads/2022/03/olivia-rodrigo-driving-home-2-u-a-sour-film.jpeg);
 
    background-repeat: no-repeat;
}

.header-jd {
    height: 500px;
    border-radius: 40px;
    margin: 0px 40px 30px 40px;
    max-width: 100%;
    color: rgb(255, 255, 255);
    background-image: url(https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/landing_page/cover_photo/60594/8844e57983a6c013d0871b57a233277d.jpg);

}

body {
    background-color: rgb(0, 0, 0) !important;
    color: white;
}

main {
    background-color: black;
    color: white;
}

.artista-banner {
    color: rgb(255, 255, 255);
    font-size: 150px;
    margin: 20px;
    background-color: none !important;
    font-family: 'Nunito Sans', sans-serif !important;

}



.h1-artista {
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif !important;
}


/*LISTO CSS ARTISTAS */ 



h1 {

    color: rgb(255, 255, 255);
    font-size: 150px;
    font-family: 'Nunito Sans', sans-serif;
    
}

h1 span {

    color: #29b91c;
    font-size: 150px;
    font-family: 'Nunito Sans', sans-serif;
}



h2 {

    color: rgb(255, 255, 255);
    background-size:auto;
    background-repeat: no-repeat;
    padding: auto;
    margin: 0px 10px 10px 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    border-radius: 5px; 
    display: inline-block;
}

h3 {

    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;
    
}

ul {
    list-style-type: none;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
        
}

.collapse {
    justify-content: flex-end !important;
    margin-right: 10% !important;
}

.img-jd {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

.img-or {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

.img-wo {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

.img-bb {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

.img-fviol {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.img-fnj {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.img-fcel {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.img-fverd {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}








body {
    background-color: black;
}


.header {
    height: 160px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}




.d-block {

    max-width: 90% !important;

}







/* ---------- MEDIA QUERIES --------- */

@media screen and (max-width: 1440px) {


    .header-or {
        max-width: 100%;
       background-size: cover !important;
       background-repeat: no-repeat !important;
       
    }

    .header-jd {
        max-width: 100%;
       background-size: cover !important;
       background-repeat: no-repeat !important;
       
    }
    
  
    
    
    
    }

@media screen and (max-width: 768px) {

    .navbar-toggler {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(70, 70, 70) !important;
        margin: 0 20px 0 30px;
    }

    img {
        margin-left: 2px !important;
        max-width: 200px !important;

    }

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 40px;
    }

    h1 span {
        font-size: 80px;
        }

.navbar-nav {
    margin: 10px !important;
}

.header-or {
    height: 280px;
    max-width: 100%;
   background-size: 100% !important;
   background-repeat: no-repeat !important;
   font-size: 80px;
}

.header-jd {
    height: 280px;
    max-width: 100%;
   background-size: 100% !important;
   background-repeat: no-repeat !important;
   font-size: 80px;
}

.artista-banner {
    font-size: 70px;
}


@media screen and (max-width: 560px) {


    .header-or {
        height: 210px;
        max-width: 100%;
       background-size: 100% !important;
       background-repeat: no-repeat !important;
    }

    .header-jd {
        height: 210px;
        max-width: 100%;
       background-size: 100% !important;
       background-repeat: no-repeat !important;
    }

@media screen and (max-width: 425px) {


    .header-or {
        height: 150px;
        max-width: 100%;
       background-size: 100% !important;
       background-repeat: no-repeat !important;
    }

    .artista-banner {
        font-size: 40px;
    }

    .header-jd {
        height: 150px;
        max-width: 100%;
       background-size: 100% !important;
       background-repeat: no-repeat !important;
    }

    .artista-banner {
        font-size: 40px;
    }


}
}

}



@media screen and (max-width: 425px) {


    img {
        margin-left: 2px !important;
        max-width: 150px !important;
    }


    .navbar-nav {
        margin: 10px !important;
    }

}