
.nav-link {
    color: white;

   } 

   .active {
    color: white !important;

   } 

   .d-flex {
    color: white;
   }

.disabled {
color: white !important;
}

.navbar-toggler {
color: rgb(255, 53, 53) !important;
background-color: rgb(165, 225, 0) !important;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    padding: 90px 20px 0;
}

.header {
    height: 160px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    
   
    }

    .nav-link {
        color: white;
        text-decoration: none;
    }

    .logo {
        padding: 20px 40px;
        align-content: center;
    }

    .nav-menu {
        display: flex;
        margin-right: 40px;
        list-style-type: none;
    }

    .nav-menu-item {
        color: white;
        font-size: 20px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }

    .dropdown-menu {
        color: aqua !important;
    }









 .primer-menu {

    background-color: #000000;
    padding: 40px 20px;
    color: rgb(255, 255, 255);
    text-align:left;
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0px;
    
 }

 .barra-debajo {
    background-color: #000000;
    color: rgb(255, 255, 255);
    height: 120px;
    display: inline-block;
    
    
    text-align: center;
    
    position: fixed;
    bottom: 0;
    width: 100%;

 }

 .banner-olivia {
    display: flex;
    align-content: flex-end;
    height: 500px;
    border-radius: 40px;
    margin: 0px 40px 30px 40px;
    background-image: url(https://www.tvinsider.com/wp-content/uploads/2022/03/olivia-rodrigo-driving-home-2-u-a-sour-film.jpeg);
 }

 .banner-drexler {
    display: flex;
    align-content: flex-end;
    height: 500px;
    border-radius: 40px;
    margin: 0px 40px 30px 40px;
    background-image: url(https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/landing_page/cover_photo/60594/8844e57983a6c013d0871b57a233277d.jpg);
 }
 
 
 ul li {
    text-align: center;
    color: #000000;
    
       
 }
 


 
 h1 {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 150px;
    font-family: 'Nunito Sans', sans-serif;
    
}

h1 span {
    background-color: black;
    color: #29b91c;
    font-size: 150px;
    font-family: 'Nunito Sans', sans-serif;
}


h3 {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;
    
}


.proximos {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align:left;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
}

.inicio {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align:left;
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;
}


div p {
        color: rgb(255, 255, 255);
    text-align:left;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px 10px;
   
   }

 h2 {
    background-color: black;
    color: rgb(255, 255, 255);
    background-size:auto;
    background-repeat: no-repeat;
    padding: auto;
    margin: 0px 10px 10px 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    border-radius: 5px; 
    display: inline-block;

}


.menu-artistas {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align:left;
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px;

    display: block;
    margin: 15px;

        }

ul {
    list-style-type: none;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
        
}

div {
    background-color: black;
    margin: 0 100px 0 20px; 
    
}  


header {
    background-color: black;
}


html {
    background-color: black;
}

/*CSS BUSCAR*/


.contenedor {
    background-color: black ;
    font-size: 60px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "tendencias tendencias tendencias tendencias"
    "artistas artistas genero genero"
    "artistas artistas ubicacion ubicacion"
    "fechas fechas ubicacion ubicacion"     
    ;
    
   }


.artistas {
    background-color: rgb(211, 188, 59);
    grid-area: artistas;
    margin: 20px;
    border-radius: 60px;
    text-align: left;
    padding-top: 280px;
    padding-left: 50px;
   
}

.tendencias {
    background-color: rgb(209, 96, 21);
    grid-area: tendencias;
    margin: 20px;
    border-radius: 60px;
    text-align: left;
    padding-top: 110px;
    padding-left: 50px; 
   
}



.genero {
    background-color: rgb(64, 141, 192); 
    grid-area: genero;
    margin: 20px;
    border-radius: 60px;
    text-align: left;
    padding-top: 110px;
    padding-left: 50px;
} 

.fechas {
    background-color: rgb(109, 53, 133);
    grid-area: fechas;
    margin: 20px;
    border-radius: 60px;
    text-align: left;
    padding-top: 110px;
    padding-left: 50px;

} 

.ubicacion {
    background-color: rgb(35, 167, 2);
    grid-area: ubicacion;
    margin: 20px;
    border-radius: 60px;
    text-align: left;
    padding-top: 280px;
    padding-left: 50px;
   
}



.buscar-ubicacion {
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: white;

} 

input {
width: 97%;
height: 90px;
border-radius: 20px;
margin-bottom: 20px;


}

div input {
    width: 97%;
height: 60px;
border-radius: 20px;
margin-bottom: 20px;
font-size: 40px;

}

li {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}


.olivia {
    background: none;
    align-items: center;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
   
}

.drexler {
    background: none;
    align-items: center;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
   
}

/*CSS CREAR CUENTA*/

div label {
    color: rgb(255, 255, 255);
    text-align:left;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px;
}

input {
    font-size: 70px;
}

.input-group {
    color: white !important;
    font-size: 50px;
    padding-top: 40px;
}




/* ---------- MEDIA QUERIES --------- */

@media screen and (max-width: 1325px) {
    
    h1 {
        font-size: 75px;
        }
    
    h1 span {        
        font-size: 75px;
     }

     div {
        margin: 0 180px 0 20px;
    }  

    h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 45px;
    }

    .primer-menu {
        height: 100px;
        display: flex;
        width: 100%;

        font-size: 25px;
        justify-content: space-between;
        align-items: center;
   
        top: 0px;
        
     }

     div {
        margin-right: 120px;

    } 


    .barra-debajo {
        display: inline-block;
    justify-content: space-around;
    align-items: center;
    }

    .contenedor {
        font-size: 30px;
    }

}    

@media screen and (max-width: 768px) {
    
    h1 {
        font-size: 75px;
        }
    
    h1 span {        
        font-size: 75px;
     }

      h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 45px;
    }

    .primer-menu {
        height: 100px;
        display: flex;
        width: 100%;

        font-size: 25px;
        justify-content: space-between;
        align-items: center;
   
        top: 0px;
        
    }

   
    input {
        width: 120%;
        height: 60px;
        border-radius: 20px;
        margin-bottom: 20px;
        font-size: 35px;
        
        
        }

        .contenedor {
            font-size: 30px;
        }
        

}


@media screen and (max-width: 425px) {

    input {
        width: 320% !important;
        height: 60px;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        margin-right: 10px;
        
        
        }

        main {
            margin-left: -20px;
            margin-right: 20px;
        }

        .contenedor {
            font-size: 15px;
        }

        .artistas {
            margin: 20px;
            border-radius: 30px;
            text-align: center;
            padding-top: 330px;
            padding-left: 5px;
            font-size: 20px;
            
        }
        .ubicacion {
            margin: 20px;
            border-radius: 30px;
            text-align: center;
            padding-top: 330px;
            padding-left: 5px;
            font-size: 20px;
            
        }
        .tendencias {
            border-radius: 30px;
            font-size: 20px;
            
        }
        

        .fechas {
            margin: 20px;
            border-radius: 30px;
            text-align: center;
            padding-top: 110px;
            padding-left: 5px;
            font-size: 20px;
            } 

        .genero {
            margin: 20px;
            border-radius: 30px;
            text-align: center;
            padding-top: 110px;
            padding-left: 5px;
            font-size: 20px;
        
  
        } 


            
            .contenedor {
                background-color: black ;
                width: 95%;
                height: 100vh;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas: 
                "tendencias tendencias tendencias tendencias"
                "artistas artistas genero genero"
                "artistas artistas ubicacion ubicacion"
                "fechas fechas ubicacion ubicacion"     
                ;

               }

            }

            


 

